<button (click)="printDoc()">打印</button>
<div>
    <h1>这里是不需要打印的</h1>
</div>
<div class="article_content" id="test">
    <h3>政府公文通知范文(篇一)</h3>
    <input type="text" value="11111">
    <!-- <img src="assets/科技13.jpg" alt="" height="100px"> -->
    <p>政府实施方案范文</p>
    <p>【篇1：法治政府建设实施方案】</p>
    <p>高政发[2012]58号</p>
    <p>关于印发《高淳县法治政府建设实施方案》的通知</p>
    <p>各镇人民政府，开发区，县府各部门，县直各单位:</p>
    <p>现将《高淳县法治政府建设实施方案》印发给你们，希结合工作实际，认真贯彻执行。</p>
    <p>二〇一二年四月二十五日</p>
    <p>主题词：法治 建设 方案 通知</p>
    <p>————— 抄送：县委各部门，县人大、政协办公室，县法院、检察院，</p>
    <p>县人武部，县群团。</p>
    <p>————— 高淳县人民政府办公室 2012年4月25日印发 ————— 共印130份 高淳县法治政府建设实施方案</p>
    <p>为贯彻落实xxx、省政府关于加快推进法治政府建设的意见，根据《南京市法治政府建设行动计划》要求，结合我县实际，现就加强法治政府建设拟定以下实施方案。</p>
    <p>
        <strong>一、指导思想和工作目标</strong>
    </p>
    <p>
        坚持以xxx理论和“三个代表”重要思想为指导，深入贯彻落实科学发展观，以保障和促进“六个现代化”为目标，全面深入推进依法行政，创新行政执法体制机制，推进政府行政管理工作制度化、规范化、程序化，努力提升政府部门执行力和公信力，为建设城乡环境最优美、富民强县最协调、社会关系最和谐的幸福高淳提供强有力的法治保障。
    </p>
    <p>
        到2014年，基本实现法治政府建设的阶段性目标：政府职能转变基本到位，经济调节、市场监管、社会管理、公共服务水平明显提高；行政决策基本实现科学化、民主化、法制化，行政决策水平明显提高；县镇行政机关及工作人员法制意识不断增强，依法行政能力明显提高；行政管理透明、高效，行政效能、行政执行力和公信力明显提高；行政执法文明、规范，行政执法监督和公众监督程度明显提高，人民群众对法治政府建设成效基本满意。
    </p>
    <p><strong>二、加快政府职能转变，提升社会管理与服务水平 </strong>
        深入建设服务型政府。实施社会管理创新工程，完善“党委领导、政府负责、社会协同、公众参与”的社会管理工作格局，健全诉求表达、矛盾排查和预警、矛盾调处、公共突发事件应急管理、社会公共安全管理五项机制，提高突发事</p>
    <p>
        限内办理答复，并做好相应服务工作。建立完善办事公开制度，规范所有面向社会服务的政府部门以及医院、学校、公交、公用等公共企事业单位办事程序，向社会公开单位职责、服务承诺、收费标准、工作规范、监督渠道等，广泛接受社会监督。对政府信息公开情况每年进行评议考核并向社会公布。
    </p>
    <p><strong>三、健全科学民主决策机制，完善行政决策程序</strong></p>
    <p>
        着力构建行政决策制度。严格执行《政府议事规则》，推进行政决策科学化、民主化、法治化，将公众参与、专家论证、风险评估、合法性审查、集体讨论决定作为重大决策的必经程序。2012年研究制定重大行政决策程序，科学界定重大行政决策范围和事项，完善行政决策听证、论证制度，扩大听证范围，规范听证和论证程序。凡涉及公共利益和公众切身利益的重大决策事项，都要进行听证；对专业性、技术性、政策性较强的重大决策事项，要组织专家进行充分论证。听证、论证意见作为行政决策的重要参考，采纳情况及其理由以适当形式反馈或公布。重大决策事项提交政府常务会议研究，研究前由县xxx进行合法性审查；未经审查或审查不合法的，不得提交政府常务会议研究。
    </p>
    <p>
        建立重大行政决策风险评估机制。对事关全县经济社会发展全局和人民群众切身利益的重大事项、重大项目等决策，决策机关或提请政府决策的部门都要进行合法性、合理性、可行性、可控性评估。评估内容包括：行政决策是否符合国家法律法规和上级政策，是否符合本地经济社会发展实际，重点要进行社会稳定、生态环境、经济运行等方面的风险评
    </p>
    <p>估。通过综合评估，确定风险等级，制定相应控制预案；凡未经风险评估或风险不可控的，不得做出决策。</p>
    <p>
        完善行政决策跟踪反馈和责任追究机制。县政府部门每年要对本部门的重大决策事项进行实施情况评估，通过民意反映、抽样调查、委托专家学者或专门机构评估等多种途径了解决策实施情况，了解社会公众和相关利益方对决策实施的意见，全面评估决策执行效果，及时发现问题、纠正偏差，必要时调整决策或停止执行。县政府每年选取1-2件关乎民生、对经济社会发展有较大影响的重大行政决策进行重点评估。严格执行决策责任追究制度，对超越法定权限、违反决策规定的决策行为，以及因决策失误造成重大损失的，按照“谁决策谁负责”的原则，追究有关领导和相关责任人的责任。
    </p>
    <p><strong>四、加强规范性文件管理，提升政府制度建设水平</strong></p>
    <p>
        健全规范性文件制定程序。各类规范性文件制定不得设定行政许可、行政处罚、行政强制等事项，不得超越制定权限增加公民、法人或者其他组织的义务。所有政府规范性文件必须经县政府xxx审查，提交县政府常务会议讨论决定，以县政府名义发布。今后一段时间，规范性文件制定的重点为科技创业创新、城乡现代化建设、生态文明建设、民生社会建设以及政府自身建设等方面，使制度建设与“六个现代化”建设相适应，与法治政府建设相协调。创新规范性文件起草机制，凡涉及民生及经济社会发展的重要规范性文件，起草过程中都要采取公开举行听证、组织座谈论证等形式广泛征求意见。严格执行规范性文件“规字”管理制度，所有
    </p>

    <p>【篇3：政府请示文书格式】</p>
    <p>公文格式 （函、请示、报告、通知、规定的公文格式）之一</p>
    <p>函的写作格式</p>
    <p>函适用于不相隶属机关之间相互商洽工作、询问和答复问题，向有关主管部门请求批准等。</p>
    <p>公函包括标题、主送机关、正文、发文机关、日期、函告的事项、结语等。①标题</p>
    <p>一般由发文机关、事由、文种或者事由、文种组成。一般发函为《关于**（事由）的函》；复函为《关于**（答复事项）的复函》。</p>
    <p>②正文</p>
    <p>一般包括三层：简要介绍背景情况；商洽、询问、答复的事项和问题；希望和要求，如：务希研究承复，敬请大力支持为盼等。</p>
    <p>函的写作范例</p>
    <p>四川省电力工业局关于在宝珠寺水电站库区进行开发有关意见的函 广元市人民政府:
        宝珠寺水电站于1996年10月开始蓄水,1996年年底首台机组投产发电,水库已基本形成。据了解,目前库区有关部门正积极筹划在宝珠寺水电站库区发展旅游业和养殖业。为保障水库和大坝的安全运行,现将我局有关意见函告如下。</p>
    <p><strong>一、宝珠寺水电站是由国家开发银行贷款,四川省电力工业局负责还贷建设的重点水电工程。</strong></p>
    <p>
        四川省电力工业局既是宝珠寺水电站工程的业主,又是工程主管部门。按照国家有关基本建设谁投资,谁受益,的原则,四川省电力工业局拥有宝珠寺水电站工程(包括水库)的管理权和开发权,宝珠寺水电厂直接受四川省电力工业局领导,是宝珠寺水电站工程管理和开发的直接主体。尽管如此,为支持库区移民发展生产,根据《四川省大型水电工程建设征地补偿和移民安置办法》第三十条大型电站形成后的水面和消落区,在服从工程管理机构的统一指挥、管理、调度和保证工程安全的前提下,由当地县级以上人民政府统筹组织移民优先开发利用和
    </p>
    <p>
        水利电力部颁发的《水利水电工程管理条例》第二十三条开展综合经营事业,应由工程管理单位统一规划。可由工程管理单位自营,也可以与有关单位签订经济合同,进行协作或联合经营,应注意有关社队利益,搞好团结和生产的精神,我局原则同意当地县级以上人民政府统筹组织库区移民对宝珠寺水电站库区进行适当开发,但任何开发活动必须服从宝珠寺水电厂的统一规划,并与宝珠寺水电厂签订有关经济、安全、责任方面的协议。
    </p>
    <p>
        <strong>二、根据xxx颁发的《水库大坝安全管理条例》第十条兴建大坝时,建设单位应当按照批准的设计,提请县级以上人民政府依照国家规定划定管理和保护范围的规定,宝珠寺水电站应划定管理和保护范围。</strong>但宝珠寺水电站首台机组刚投产,大坝未全部建成,大坝管理和保护范围尚未划定,依照批准设计和国家有关规定,大坝上游3-5公里,以及整个库区征地线以下,属大坝管理和保护范围。
        根据《水库大坝安全管理条例》第十七条在大坝管理和保护范围内修建码头、鱼塘的,须经大坝主管部门批准和《水利水电工程管理条例》第十一条确有必要在水利水电工程保护范围内进行建设等活动,应征得水利电力主管机关的同意的规定,任何单位在宝珠寺水电站大坝管理和保护范围内进行开发活动,必须经四川省电力局批准后方可实施,未经我局批准擅自在大坝保护和管理范围内搞开发,都是违反xxx规定的。
        三、凡是在水库以内的任何开发和经营活动,必须服从宝珠寺水电厂对水库的统一运用调度,不得影响水库的安全运行。库区的利用应在服从电厂的统一规划的前提下统筹规划,有计划、有组织地进行。
    </p>
    <p>
        行政机关公文的行文及行政机关公文的教学中，如何表述行政机关公文文种、类型及行文体式，是一个值得探讨的问题。经常看到文秘杂志有关《批转和转发不是公文文种》等类似争论不休的一些文章。如《秘书理论与实践》中金常德《批转和转发不是公文文种》一文称：“《秘书学原理及实务》一书，编者却把批转和转发都视为独立的公文文种，实为舛误。”那么，笔者要问：“批转和转发不是公文文种”又是什么？反过来，“批转和转发”又是公文文种里的什么？其实，这都是对行政机关公文文种及内容的表述不清造成的误解。
    </p>
    <p>其对行政机关公文文种及内容的表述不清的原因在哪里？笔者认为，就是对行政机关公文文种的定义的理解不够全面。纵观13种行政机关公文文种的定义，</p>
    <p>
        都是从文种的性质及范围来铨释的。所谓“性质”，即表明了这个文种可用来做什么的本质特征。所谓“范围”，表明了这个文种对上对下、对人对事的所属性。从定义的内容来看，并不是把一个文种都只写成一种公文体式。也就是说，公文文种定“种”，文种定义内容定“类”，也就是“种”与“类”之争。
    </p>
    <p>我们分别看看13个行政机关公文文种，每“种”公文按定义所述的内容的性质及范围，可分别分为多少类？</p>
    <p><strong>(一)命令(令)：适用于依照有关法律公布行政法规和规章；</strong>宣布施行重大强制性行政措施；嘉奖有关单位及人员。</p>
    <p>根据“命令(令)”
        定义的内容，可分为公布行政法规的命令、公布行政规章的命令、宣布施行重大强制性行政措施的命令、有关单位的嘉奖令、有关人员的嘉奖令等5类，行文至少就应写成5种公文体式。公布行政法规，由于行政法规包括：条例、规定、办法、细则等文种，那么，公布行政法规命令，也应包括公布条例、规定、办法、细则等4种体式的命令来行文。可见，命令(令）可分为
        9种公文体式来行文。</p>
    <p>如1：公布行政法规的命令，如：xxx令第499号，公布《xxx行政复议法实施条例》；2005年5月11日xxx第89次常务会议通过
        2005年5月19日xxxxxx令第435号，公布《xxx实施＜xxx民族区域自治法＞若干规定》；xxx令第384号，公布《海关关衔标志式样和佩带办法》；xxx令第306号，公布《xxx专利法实施细则》等。根据《xxx宪法》的规定，只有xxx主席、xxx总理、xxx各部部长、各委员会主任以及县以上各级地方人民政府才可以依据法律规定的权限发布命令，其他任何单位和个人均不得发布命令。
    </p>
    <p>
        如2：公布行政规章命令。行政规章是指xxx各部、委和省、自治区、直辖市以及省、自治区人民政府所在地的市和xxx批准的较大的市的人民政府为了管理国家行政事务所制定的法律规范性文件。行政规章除规定、办法兼用作规章文种外，其他规章文种有章程、细则、制度、规则、规程、守则、准则等文种。那么，公布行政规章的命令，也应包括公布规定、办法、章程、细则、制度、规则、准则、通则等8个文种对命令体式来行文。如：2006年12月28日，郑州市政府以第156号令公布的《郑州市嵩山古建筑群保护管理规定》；中华人民共
    </p>
    <p>
        和国教育部令第21号公布的《普通高等学校学生管理规定》；xxxxxx令（2005年第2号）公布的《港口工程竣工验收办法》；1990年8月24日国家技术监督局第7号令发布《全国专业标准化技术委员会章程》；2006年12月13日，郑州市政府以第153号令公布的《郑州市城市园林绿化建设管理条例实施细则》；1959年6月25日,
        xxx发布《关于统一计量制度的命令》；xxxxxx令（2005年第1号）公布的《xxx内河船舶船员适任考试发证规则》； 1992年3月18日xxxxxx令第95号公布《企业会计准则》；1992年11月16日xxx批准
        1992年11月30日财政部令第5号公布《企业财务通则》。</p>
    <p>如3：宣布施行重大强制性行政措施的命令。如xxx、xxx联合行文的《xxx,xxx2005年冬季征兵命令》。</p>
    <p>如4：嘉奖令。有关单位的嘉奖令，如驻马店市人民政府驻政〔2007〕13号《关于对平舆县成功创建国家卫生县城的嘉奖令》、有关人员的嘉奖令，如2007-11-3 10《 xxx对胜利粉碎xxx事件的民航杨继海机组的嘉奖令》。
    </p>
    <p><strong>(二)决定：适用于对重要事项或者重大行动做出安排，奖惩有关单位及人员，变更或者撤销下级机关不适当的决定事项。</strong></p>
    <p>
        根据“决定”定义的内容，可分为重要事项的决定、重大行动做出安排的决定、奖励的决定、惩治的决定、变更下级机关的决定、撤销下级机关不适当的决定事项的决定等6类来行文。依次如：1995年12月28日通过的《全国xxx常务委员会关于召开第八届全国xxx第四次会议的决定》、《xxx中央xxx关于反腐败斗争近期抓好几项工作的决定》、国发〔2008〕2号《xxx关于2007年度国家科学技术奖励的决定》、国发〔1996〕4号《xxx关于坚决打击骗取出口退税、严厉惩治金融和财税领域违法乱纪行为的决定》、2006-1-19广东省《深圳市人民政府关于食品生产加工环节卫生监管机关变更的决定》、2007《厦门市人民政府关于废止、宣布失效、修改部分市政府规章的决定》。
    </p>
    <p><strong>(三)公告：适用于向国内外宣布重要事项或者法定事项。</strong></p>
    <p>根据公告定义的内容，可分为宣布重要事项的公告、宣布法定事项的公告2类行文。如： 《旬阳县人民政府机关搬迁公告》、07-10-26 19:23:09发</p>
    <p>布的《和静县第十五届人大一次会议选举结果公告》。</p>
    <p><strong>(四)通告：适用于公布社会各有关方面应当遵守或者周知的事项。</strong>
        (五)通知：适用于批转下级机关的公文，转发上级机关和不相隶属机关的公文，传达要求下级机关办理和需要有关单位周知或者执行的事项，任免人员。根据通知定义的内容，可分为批转下级机关公文的通知、转发上级机关公文的通知、转发不相隶属机关的公文的通知、传达要求下级机关办理事项的通知、需要有关单位周知的事项通知、需要有关单位执行的事项通知、任职通知、免职通知等8类来行文。依次如：2005年《xxx批转证监会关于提高上市公司质量意见的通知》、厦经普办〔2005〕4号，《关于转发＜关于公布实施福建省第一次全国经济普查简易执法程序若干规定（试行）的通知＞的通知
        》、《xxx办公厅转发国家工商局、xxx、中国人民银行＜关于严厉打击传销和变相传销等非法经营活动意见＞的通知》、《民政部办公厅＜关于进一步做好民政系统安全工作的紧急通知＞的通知 》、《劳动人事部关于设立劳动保护科学技术进步奖
        的通知》、浙政办发〔2007〕38号，浙江省政府办公厅《关于开展规章和行政规范性文件清理工作的通知》、吉政干任〔2005〕72号吉林省人民政府《关于xxx任职的通知》、2007年4月28日临澧县临人常发[2007] 05
        号《关于郑大知同志的免职通知》。有时许多人任免同时进行，行文时可为合为任免通知，如人劳公字[2007]155号《关于翁笑冰等6名同志职务任免的通知》。</p>
    <p><strong>(六)通报：适用于表彰先进，批评错误，传达重要精神或者情况。</strong></p>

</div>