<div class="export-main">
    <div class="main-container">
        <div class="container-top"></div>
        <div class="container-content">
            <table border="1" colspan="0" cellspan='0' style="width: 100%;">
                <thead>
                    <tr>
                        <th>语文</th>
                        <th>数学</th>
                        <th>英语</th>
                        <th>物理</th>
                        <th>化学</th>
                        <th>生物</th>
                        <th>历史</th>
                        <th>地理</th>
                        <th>政治</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>