.main-container-page {
  width: 80%;
  // height: calc(100% - 284px);
  min-width: 850px;
  min-height: 800px;
  margin: 12px auto;
  display: flex;

  .main-container-left {
    flex: 3;
    min-width: 190px;
    margin-right: 16px;
    max-width: 230px;
    padding: 0 12px;
  }

  .main-container-right {
    flex: 7;
    padding: 12px;
    overflow: auto;
  }
}