<div class="main-header">
  <nav>
    <a class="a-to-btn" routerLink="/common-docs">文档</a>
    <a class="a-to-btn" routerLink="/component-message">父子组件通讯</a>
    <a class="a-to-btn" routerLink="/router">路由相关</a>
    <a class="a-to-btn" routerLink="/pipe">内置管道</a>
    <a class="a-to-btn" (click)="requesrServer()">请求服务器</a>
    <a class="a-to-btn" routerLink="/upload">上传文件</a>
    <a class="a-to-btn" routerLink="/animation">动画</a>
    <a class="a-to-btn" routerLink="/from">表单使用</a>
    <a class="a-to-btn" routerLink="/upload">动态组件</a>
  </nav>
</div>
<hr>
<router-outlet></router-outlet>
<div class="main-footer">
  <div class="footer-content">尾部</div>
</div>