.main-header {
  min-height: 120px;
  position: relative;
  // background-image: url('../assets/img/banner.gif');
  // background-repeat: no-repeat;
  // background-color: #fff;

  .nav-container {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-left: 10%;

    .nav-item {
      margin: 6px 12px;
      border-radius: 4px;
    }

    a {
      padding: 6px 12px;
      display: inline-block;
      color: inherit;
      width: 100%;
    }
  }
}

.main-footer {
  height: 100px;
  border: 1px solid #ccc;

  .footer-content {
    width: 80%;
    margin: 0 auto;
  }
}
