.main-header {
  min-height: 180px;
  position: relative;
  background-image: url('../assets/banner.gif');
  background-repeat: no-repeat;
  background-color: #fff;

  nav {
    position: absolute;
    bottom: 0;
    margin-left: 100px;

    a {
      margin: 5px 12px;
    }
  }
}

.main-footer {
  height: 100px;
  border: 1px solid #ccc;

  .footer-content {
    width: 80%;
    margin: 0 auto;
  }
}
