<div class="login-page">
  <div class="center">
    <div class="form-filed">
      <span class="login-title">登陆</span>
      <div class="input-constainer">
        <span>用户名</span>
        <input type="text" placeholder="请输入用户名">
        <span class="botton-line"></span>
      </div>
      <div class="input-constainer">
        <span>密码</span>
        <input type="text" placeholder="请输入密码">
        <span class="botton-line"></span>
      </div>
      <span class="close-psw">忘记密码</span>
      <div class="longin-btn">
        <div class="bg-cover"></div>
        <button (click)="login()">登陆</button>
      </div>
    </div>
  </div>
</div>