.router-main {
  border: 1px solid green;
  height: calc(100vh - 184px);
  margin: 16px;
  overflow: auto;

  h3 {
    color: red;
  }

  .router-header {
    display: flex;
  }

  .router-content {
    display: flex;

    .router-guard {
      border: 1px solid purple;
      flex: 3;
      height: 350px;
    }

    .router-child {
      flex: 7;
    }
  }
}
